<!-- <div class="container-fluid">
  <div class="row footer">

    <div class="col-md-6 footer-column mx-auto">
      <p class="footer-paragraph">Copyright &copy; 2020 Deloitte Development LLC.All rights reserved<p>
          <p class="footer-paragraph">36 USC 220506<p>
    </div>
    <div class="col-md-2 footer-column mx-auto">
      <ul class="nav-list">
        <li class="footer-column-link"><a href="#" class="footer-link">Feedback</a></li>
        <li class="footer-column-link"><a href="#" class="footer-link">Legal</a></li>
        <li class="footer-column-link"><a href="#" class="footer-link">Security</a></li>
      </ul>
    </div>
    <div class="col-md-2 mx-auto">
      <ul class="nav-list">
        <li class="footer-column-link"><a href="#" class="footer-link">Help</a></li>
        <li class="footer-column-link"><a href="#" class="footer-link">Preferences</a></li>
        <li class="footer-column-link"><a href="#" class="footer-link">Site Map</a></li>
      </ul>
    </div>
    <div class="col-md-2 mx-auto">
      <p class="footer-paragraph"> Memeber of Deloitte Touche Tohmatsu LimitedElectronic CommunicationsInternal use only
      </p>
    </div>
  </div>
</div> -->


<div class="footer">
  <div class="footer-column">
    <p class="footer-paragraph" id="copyright-section">Copyright &copy; 2020 Deloitte Development LLC.All rights
      reserved<p>
        <p class="footer-paragraph">36 USC 220506<p>
  </div>
  <div class="footer-column">
    <div>
      <div class="footer-column-label">
        <p class="footer-paragraph">Feedback<p>
            <p class="footer-paragraph">Legal<p>
                <p class="footer-paragraph">Security<p>
      </div>
      <div class="footer-column-label">
        <p class="footer-paragraph">Help<p>
            <p class="footer-paragraph">Preferences<p>
                <p class="footer-paragraph">Site Map<p>
      </div>
      <div class="footer-column-label-Last">
        <p class="footer-paragraph"> Memeber of Deloitte Touche Tohmatsu LimitedElectronic CommunicationsInternal use
          only</p>
      </div>
    </div>

  </div>
</div>
