<div class="header">
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <!-- <a class="navbar-brand" href="#"> -->
      <img class="logo" src="assets/img/OperateEdge_BlackBackground.png" />
    <!-- </a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav nav-1">
        <li class="nav-item">
          <a class="nav-link menu-item dropdown-toggle" href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            By Technology
            <i class="fa fa-angle-down"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link menu-item" href="#">By Process
            <i class="fa fa-angle-down"></i>
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link menu-item dropdown-toggle" href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            By Phase
            <i class="fa fa-angle-down"></i>
          </a>
          <div class="dropdown-menu mt-0 w-100" aria-labelledby="navbarDropdown">
            <div class="row submenu">
              <div class="col-3 left-sub-menu">
                <div class="whats-new">
                  <p class="whats-new-paragraph"> What's New</p>
                </div>
              </div>
              <div class="col-9">
                <div class="row">
                  <div class="col-4 right-sub-menu">
                    <div class="sublinkcolumn">
                      <div class="">
                        <a class="menulink">Solution Design</a>
                      </div>
                      <div>
                        <a class="menu-sub-link">- Coverage Modeling</a>
                      </div>
                    </div>
                    <div class="sublinkcolumn">
                      <div>
                        <a class="menulink">Stabilize & Optimize</a>
                      </div>
                      <div class="">
                        <a class="menu-sub-link">- Incident Forecasting</a><br />
                        <a class="menu-sub-link">- Release Estimation</a><br />
                        <a class="menu-sub-link">- Problem Management</a><br />
                        <a class="menu-sub-link">- Release Management</a><br />
                        <a class="menu-sub-link">- Service Catalog Management</a><br />
                        <a class="menu-sub-link">- Operation Management</a><br />
                        <a class="menu-sub-link">- Delivery Management</a><br />
                        <a class="menu-sub-link">- Diagnostic & Troubleshooting</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-4 right-sub-menu">
                    <div class="sublinkcolumn">
                      <div>
                        <a class="menulink">Initiate</a>
                      </div>
                      <div class="">
                        <a class="menu-sub-link">- Risk Management</a>
                      </div>
                    </div>
                    <div class="sublinkcolumn">
                      <div>
                        <a class="menulink">Sustain & Innovate</a>
                      </div>
                      <div class="">
                        <a class="menu-sub-link">- Knowledge Management</a><br />
                        <a class="menu-sub-link">- Triage Management</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-4 right-sub-menu">
                    <div class="sublinkcolumn">
                      <div>
                        <a class="menulink">Transition</a>
                      </div>
                      <div>
                        <a class="menu-sub-link">- Transition Management</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav nav-2 logout-section">
        <li class="navbar-right nav-item logout-column">
          <a class="nav-link">
            <img class="head-icon" src="assets/img/Bookmark.png" />
          </a>
        </li>
        <li class="navbar-right nav-item logout-column">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <img class="head-icon" src="assets/img/Notification.png" />
          </a>
          <div class="dropdown-menu notification-menu" aria-labelledby="navbarDropdown1">
            <ul class="notifications">
              <li class="titlebar">
                <span class="title">Notifications</span>
              </li>
              <div class="notifbox">
                <li class=" notif">
                  <a href="#">
                    <div class="latestbusinesstext">
                      <div class="message">
                        Recently added tool <strong>Transition Management</strong>
                      </div>
                      <div class="messageinfo">
                        <i class="icon-trophy"></i>2 hours ago
                      </div>
                    </div>
                  </a>
                </li>
                <li class=" notif">
                  <a href="#">
                    <div class="latestbusinesstext">
                      <div>
                        New release for OperateEdge schedules on 15th March 2020
                      </div>
                      <div>
                        <i class="icon-flag"></i>4 hour ago
                      </div>
                    </div>
                  </a>
                </li>
                <li class=" notif">
                  <a href="#">
                    <div class="latestbusinesstext">
                      <div class="message">
                        24000 users subscribed for OperateEdge
                      </div>
                      <div class="messageinfo">
                        <i class="icon-comment"></i>7 hours ago
                      </div>
                    </div>
                  </a>
                </li>
                <li class=" notif">
                  <a href="#">
                    <div class="latestbusinesstext">
                      <div class="message">
                        ETL tools are now available in technology menu
                      </div>
                      <div class="messageinfo"><i class="icon-trophy"></i>Yesterday</div>
                    </div>
                  </a>
                </li>
                <li class=" notif">
                  <a href="#">
                    <div class="latestbusinesstext">
                      <div class="message">
                        Reports download option is now available
                      </div>
                      <div class="messageinfo"><i class="icon-flag"></i>Yesterday</div>
                    </div>
                  </a>
                </li>
              </div>
            </ul>
          </div>
        </li>
        <li class="navbar-right nav-item logout-column">
          <a class="nav-link">
            <img class="head-icon" src="assets/img/User.png" />
          </a>
        </li>
        <li class="navbar-right nav-item logout-column">
          <a class="nav-link logout">
            Logout
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>